@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
}

.img-fluid{
    width: 150%;
    height: 100vh;
}
